.nav {
    display: flex;
    align-items: center;
}

.nav .nav-item {
    color: #6c6c6c;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-decoration: none;
    padding-left: 20px;
}

.nav .nav-item.is-active:after {
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
}


.nav .nav-item::after {
    background-color: #5094f2;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    transition: width .3s ease-in-out;
}
.nav .nav-item:hover:after,
.nav .nav-item:focus:after {
    width: 100%;
}
